/* setup */
body {
	font-family: Arial;
	font-size:12px;
	line-height: 18px;

}
div,input,td,select,textarea,a,li,p {
    font-family: inherit;
	font-size:inherit;
	line-height: inherit;
}
a {
    color:#004e79;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

body,input,div {
	color:#333;
}

strong  {
    font-weight: bold;
}
em {
    font-style: italic;
}
.rounded {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.brounded {
    border-radius:0px 0px 5px 5px;
    -moz-border-radius:0px 0px 5px 5px;
    -webkit-border-radius:0px 0px 5px 5px;
}
.shaded {
    -moz-box-shadow: 3px 3px 2px #999;
    -webkit-box-shadow: 3px 3px 2px #999;
    box-shadow: 3px 3px 2px #999;
}
.grey {
    background-color: #ccc;
}
.grey-light {
    background-color: #efefef;
}
.yellow {
    background-color: #ffffcc;
}
.yellow-light {
    background-color: #ffffee;
}
.blue {
    background-color: #004E7A;
    color:#fff;
}
.blue a {
    color:#fff;
}
.blue-light {
    background-color: #BBC7DE;
}
.green {
    background-color: #BBDEC2;
}
.header {
    border-bottom:1px solid #333;
}
h1 {
    font-size:30px;
    line-height:30px;
    padding:10px 0px;
    font-weight: bold;
    margin-top:25px;
}
h2 {
    font-size:22px;
    font-weight:bold;
    line-height:26px;
}
h3 {
    font-size:16px;
    line-height:22px;
    font-weight:bold;
    color:#666;
    margin-bottom: 10px;
}
.right {
    float:right !important;
}


.framed {
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    border:1px solid #ccc;
    padding:5px;
}


.contents {
    padding:10px;
}
/* article layout */
.article p {
    margin-bottom:15px;
    line-height: 22px;
}
.article a {
    color:#004e79;
}
/* BUTTON COLORS */

/* normal button color */

.button,
    a.button,
    .menu a {
    background-color:#bbc7de;
	color:black;
    border:0;
}
/* main button color */
.menu a.main,
    .sub-menu a.main,
    .button.main {
    background-color:#bbdec2;
    color:#333;
    border-color:#666;
    font-weight: bold;
}
/* paging buttons */
.paging a {
    color:#333;
	background-color: #efefef;
}
.paging a.active,
    .paging a:hover {
    background-color:#bbc7de;
}
/* help button color */
.menu a.help,
    .sub-menu a.help,
    .button.help {
    background-color:#eced98;
    color:#333;
    border:0;
    font-weight: bold;
}
/* hover / active state */
.button:hover,
    a.button:hover,
    .menu a:hover,
    .menu a.active {
	color:#333;
	background-color: #efefef;
}

/* disabled button color */
.menu a.disabled,
    .sub-menu a.disabled,
    .button.disabled,
    .menu a.disabled:hover,
    .sub-menu a.disabled:hover,
    .button.disabled:hover{
    background-color:#efefef;
    color:#aaa;
    border:0;
    font-weight: normal;
    font-style: italic;
}

/* menu */
.menu {
    margin:0px;
    padding-left:10px;
    margin-bottom:5px;
    list-style:none outside none;
}
.menu li {
    list-style:none outside none;
}
.paging {
    margin-top:5px;
}
.paging a,.menu a {
	padding:5px 10px;
	margin-right:5px;
	display:block;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.paging a:hover,.paging a.active.menu a:hover,.menu a.active {
	text-decoration: none;
}
.menu li.right {
    float:right;
}

/* user menu */
.user-menu {
    float:right;
    margin-top:5px;
    margin-right:5px;
    list-style:none outside none;
}
.user-menu li {
    color:#666;
    padding:3px;
    list-style:none outside none;
}
.user-menu a {
    font-size:11px;
}
/* sub menu */
.sub-menu {
    border-bottom:1px solid #333;
}
.sub-menu a {
    background-color: transparent;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
    border:0;
    color:#333;
}
.sub-menu a.active,
    .sub-menu a:hover,
    .sub-menu a.main:hover {
    background-color: #333;
    color:white;
}
/*numbered list */
.seperated li {
    margin-bottom: 10px;
}
/*numbered list */
.dotted li {
    list-style: disc;
    list-style-position: inside;
}

/*numbered list */
.numbered li {
    list-style: decimal;
    list-style-position: inside;
}
.bordered {
    border:1px solid #CCC;
    padding:5px;
}
/*border top*/
.tborder {
	border-top:1px solid #CCC;
	padding-top:5px;
}
.tborder.medium {
	border-top-width:3px;
}
.tborder.large {
	border-top-width:5px;
}
/*border btm*/
.bborder {
	border-bottom:1px solid #CCC;
	padding-bottom:5px;
}
.bborder.medium {
	border-bottom-width:3px;
}
.bborder.large {
	border-bottom-width:5px;
}
/*border right*/
.rborder {
	border-right:1px solid #CCC;
	padding-right:5px;
}
.rborder.medium {
	border-right-width:3px;
}
.rborder.large {
	border-right-width:5px;
}
/*border left*/
.lborder {
	border-left:1px solid #CCC;
	padding-left:5px;
}
.lborder.medium {
	border-left-width:3px;
}
.lborder.large {
	border-left-width:5px;
}
/* intro */
.intro {
    margin:10px 0px;
}
/* form */
input,select,textarea,.form-element {
    display:block;
    font-size:12px;
    line-height:18px;
    color:#666;
    border:0px;
    outline: none;
    background-color: transparent;
}
fieldset {
    border:1px solid #ccc;
    padding:3px;
    border:1px solid #CCC;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
}
fieldset legend {
    font-style: italic;
    font-weight: bold;
}
.form-item .element {
    
    padding:3px;
    border:1px solid #CCC;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
}

.form-item input,
    .form-item select,
    .form-element {
    height:20px;
    width:100%;
}
 
.form-item.small  {
    width:100px !important;
}
.form-item.medium {
    width:140px !important;
}
.form-item.normal {
    width:230px !important;
}
.form-item.large {
    width:300px !important;
}
.form-item.xlarge {
    width:450px !important;
}

input.form-checkbox,
    input.form-radio {
    width:auto;
}
textarea,.form-element {
    font-size:12px;
}
.form-item.focus .element,
    .form-item.error .element,
    .form-item.valid .element {
    -moz-border-radius:5px 0 0 5px; /* FF1+ */
    -webkit-border-radius:5px 0 0 5px; /* Saf3-4 */
    border-radius:5px 0 0 5px;
    border-right-color: #AAA;
}
.form-item.no-instructions .element {
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
}

textarea,.form-element {
    height:auto;
}


.form-item {
	margin-top:3px;
}
label span.required {
    color:blue;
    font-weight: bold;
    margin-left:3px;
    cursor:help;
}
.form-item label,.label {
	display:block;
    float:left;
	color:#666;
	padding-bottom:3px;
    width:140px;
    text-align: right;
    margin-right:5px;
    line-height: 25px;
}

.form-item .instructions {
    float:left;
    display:block;
}

.form-item .instructions {
    border:1px solid #AAA;
    width:250px;
    background-color: #CCC;
    line-height:18px;
    padding:4px;
    padding-left:10px;
    font-size:12px;
    visibility: hidden;
    -moz-border-radius:0 5px 5px 0; /* FF1+ */
    -webkit-border-radius:0 5px 5px 0; /* Saf3-4 */
    border-radius:0 5px 5px 0;
    border-left:0;
    color:#444;
}
.form-item .instructions div {
    color:inherit;
}
.form-item .valid,
    .form-item .error {
    display:none;
}
/* form item error */
.form-item.error .help {
    display:none;
}
.form-item.error .error {
    display:block;
}
.form-item.error .instructions {
    color:#990000;
    border-color:#990000;
    background-color: #ffcccc;
    visibility: visible;
}
/* form item checker */
.form-checker .form-checkbox {
    margin-right:5px;
    margin-top:10px;
    width:15px;
    height:15px;
}
input.no-checker {
    margin-left:20px;
}
/* form item success  */
.form-item.valid .help {
    display:none;
}
.form-item.valid .error {
    display:none;
}
.form-item.valid .valid {
    display:block;
}
.form-item.valid .instructions {
    border-color:#006633;
    color:#006633;
    background-color:#ccffcc;
    visibility: visible;
}

.form-item .description {
    margin-left:150px;
    font-size:10px;
    clear:both;
    color:#999;
}
.form-item.no-label .description {
    margin-left:0;
}
.label.top,
    .form-item.no-label label {
    float:none;
    width:auto;
    text-transform: uppercase;
    font-weight:bold;
    text-align: left;
    margin-top:10px;
    font-size:12px;
    line-height:12px;
}
.form-item.composit .element {
    float:left;
    width:230px;
}

.form-item .description.error {
    color:#990000;
}

.form-item.simple {
    width:auto;
}
.form-item.simple input {
    display:inline;
    height:auto;
    margin:0 5px;
}
.form-item.simple .element {
    border:0;
    padding:0;
}
.form-item.simple label {
    display:inline;
    float:none;
    text-transform: none;
    padding:0;
    margin:0;
    font-weight: inherit;
}
.buttongroup {
    padding-left:145px;
    margin-top:5px;
    padding-top:3px;
}
.buttongroup .button {
    margin-right: 5px;
}
.button,a.button {
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    padding:5px 10px;
    width:auto;
    cursor: pointer;
    text-decoration: none;
    display:block;
    float:left;
    margin:0px;
    margin-top:3px;
    font-size:12px;
    line-height: 16px;
}
input.button {

}
.button.full {
    float:none;
}
.button.icononly {
    -moz-border-radius:0; /* FF1+ */
    -webkit-border-radius:0; /* Saf3-4 */
    border-radius:0;
    border:0;
    width:auto;
    padding:0;
    text-indent: -9999px;
    background-color: transparent !important;
}

.element {
    position:relative;
}
.element .button {
    float:none;
    right:5px;
    top:0px;
    position:absolute;
}
.element .buttongroup .button {
    position:static;
    float:left;
}
.element .buttongroup {
    float:none;
    margin:0;
    padding:0;
    right:0px;
    top:0px;
    position:absolute;
}


.no-label-top {
    margin-top:28px;
}

img.captcha {
    margin-left:160px;
    display:block;
    margin-bottom: 5px;
}
/* form element modifiers */
.form-flow-list .form-item {
    float:left;
    width:185px;
}
.form-flow-list .button {
    padding-top: 0px;
    padding-bottom: 0px;
}
.form-flow-list .button,
    .form-flow-list input,
    .form-flow-list textarea,
    .form-flow-list select {
    font-size:12px;
}

.form-flow-list input,
    .form-flow-list textarea,
    .form-flow-list select {
    width:160px;
}
.form-flow-list label,
    .form-flow-list .instructions {
    display:none;
}
.form-flow-list input,
    .form-flow-list textarea,
    .form-flow-list select {
    -moz-border-radius:5px !important; /* FF1+ */
    -webkit-border-radius:5px !important; /* Saf3-4 */
    border-radius:5px !important;
    
}
/* panels */
.panel {
	margin:10px 0px;
}
.panel h2 {
    font-size:16px;
    font-weight: bold;
    line-height:20px;
    padding-bottom:3px;
    margin-bottom:5px;
    border-bottom: 1px solid #CCC;
}
.panel.centered {
	margin:10px auto;
}
.panel,
	.panel .inner {
	padding:4px;
}

.panel .inner {
	padding:10px;
}
.panel.singlecol {
    width:960px;
}
/* wizard */
.wizard h2 {
    overflow:hidden;
    padding:0px;
}

.wizard h2 strong {
    float:right;
    font-size:12px;
    color:#666;
}
.wizard h2 ul {
    float:left;
    -moz-border-radius:5px 5px 0 0; /* FF1+ */
    -webkit-border-radius:5px 5px 0 0; /* Saf3-4 */
    border-radius:5px 5px 0 0;
    border:1px solid #CCC;
    border-bottom: 0;
}

.wizard h2 li {
    padding:2px 10px;
    border-left:1px solid #CCC;
    font-size: 12px;
    font-weight: normal;
    color:#666;
}

.wizard h2 li.active {
    background-color:#efefef;
    font-weight:bold;
}
.wizard h2 li.done {
    background-color: #ddd;
}
/* tabpage */
.pw-tabpage {
    margin:5px 0;
    margin-right:5px;
}
.pw-tabpanel {
    display:none;
    border:1px solid #ccc;
    padding:5px;
    margin-top:-1px;
}
.pw-tabpanel.active {
    display:block;
}
.pw-tabs a {
    display:block;
    padding:3px 5px;
    border:1px solid #ccc;
    margin-right:2px;
}
.pw-tabs a.active,.pw-tabs a.active:hover {
    background-color: #ffc;
    color:#333;
    cursor: default;
    text-decoration: none;
}

/* messages */
.message {
    padding:10px;
    border-style:solid;
    border-width:1px 0px;
    font-size:14px;
    font-weight:bold;
    text-align: center;
}
.message.error {
    color:#990000;
    background-color: #ffcccc;
}
.message.success {
    color:#006633;
    background-color:#ccffcc;
}
/*data*/
table.data th {
    text-transform: uppercase;
    color:#999;
    font-weight: bold;
    font-size:12px;
    text-align:right;
}

table.data td {
    padding-left:10px;
}
table.data .section {
    font-size:16px;
    font-weight: bold;
    padding:0;
    padding-top:5px;
    border-bottom:1px solid #333;
}

.data {
    width:100%;
}
.data.list th:first-child {
    -moz-border-radius:5px 0 0 5px ;
    -webkit-border-radius:5px 0 0 5px;
    border-radius:5px 0 0 5px;
}
.data.list th:last-child {
    -moz-border-radius:0 5px 5px 0  ;
    -webkit-border-radius:0 5px 5px 0 ;
    border-radius:0 5px 5px 0 ;
}
.data.list th {
    text-align:left;
    background-color: #ccc;
    color:#333;
    padding:2px 10px;
}
.data.list td {
    padding-left:10px;
    border-bottom:1px solid #ccc;
}
.data.list td em {
    font-size:10px;
}
.data tr.odd td {
    background-color: #efefef;
}
.data tr.active td {
    background-color: #FFFFCC !important;
}
.data tfoot td {
    border-bottom:0 !important;
}
/* icons */
.icon16x16 {
    display:block;
    padding-left:16px !important;
    
    background-repeat: no-repeat;
    background-position: left center;
}
.icon16x16.add {
    background-image: url(../images/skin/add.png);
}
.icon16x16.remove,.icon16x16.delete {
    background-image: url(../images/skin/delete.png);
}
.loader-circle {
    background-image: url(../images/skin/loader-circle.gif);
    background-repeat: no-repeat;
    background-position: center center;
    width:26px;
    height:26px;
}
.loader-bar {
    background-image: url(../images/skin/loader-bar.gif);
    background-repeat: no-repeat;
    width:128px;
    height:15px;
    background-position: center center;
}

/* jquery UI overwrites */
.ui-widget-content {
    background-image: none;
    background-color: white;
}
.ui-widget-header,.ui-widget-header span,.ui-widget-header div {
    background-image: none;
    background-color: #004e7a;
    color:#efefef;
    border:0;
}
.ui-widget-header .ui-state-hover {
    background-image: none;
    background-color: transparent;
    border:0;
    cursor: pointer;
}
