/* setup */
body {
	font-family: Arial;
	font-size:12px;
	line-height: 18px;

}
div,input,td,select,textarea,a,li,p {
    font-family: inherit;
	font-size:inherit;
	line-height: inherit;
}
a {
    color:#004e79;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

body,input,div {
	color:#333;
}

strong  {
    font-weight: bold;
}
em {
    font-style: italic;
}
.rounded {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    behavior: url(plugins/pie.htc);
}

.header {
    background-color: #CCC;
    border-bottom:1px solid #333;
}
h1 {
    font-size:30px;
    line-height:30px;
    padding:10px 0px;
    font-weight: bold;
    margin-top:25px;
}
h2 {
    font-size:22px;
    font-weight:bold;
    line-height:26px;
}
h3 {
    font-size:16px;
    line-height:22px;
    font-weight:bold;
    color:#666;
    margin-bottom: 10px;
}
.right {
    float:right !important;
}


/* page */
.page {
    
}
.contents {
    padding:10px;
}
/* menu */
.menu {
    padding-left:10px;
    margin-bottom:5px;
}
.menu a {
	padding:5px 10px;
	margin-right:5px;
	background-color: #004e79;
	color:white;
    
    display:block;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    behavior: url(plugins/pie.htc);
    border:1px solid;
    border-color: #333;
}
.menu a:hover,.menu a.active {
	color:#333;
	background-color: white;
	text-decoration: none;
}
.menu li.right {
    float:right;
}
.menu a.main {
    background-color:#00794E;
    color:#eee;
    border-color:#020;
    font-weight: bold;
}
.menu a.main:hover {
    background-color: white;
    color:#333;
}
/* user menu */
.user-menu {
    float:right;
    margin-top:73px;
    margin-right:30px;
}
.user-menu li {
    color:#666;
    padding:3px;
}
.user-menu a {
    font-size:14px;
}
/* sub menu */
.sub-menu {
    border-bottom:1px solid #333;
}
.sub-menu a,
    .sub-menu a.main {
    background-color: transparent;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
    behavior: url(plugins/pie.htc);
    border:0;
    color:#333;
}
.sub-menu a.main {
    background-color: #00794E;
    color:white;
}
.sub-menu a.active,.sub-menu a:hover, .sub-menu a.main:hover {
    background-color: #333;
    color:white;
}
/*numbered list */
.numbered li {
    list-style: decimal;
    list-style-position: inside;
}

/*stroke top*/
.stroke-t {
	border-top:3px solid #CCC;
	padding-top:5px;
}
.stroke-t.small {
	border-top-width:1px;
}
.stroke-t.large {
	border-top-width:5px;
}
/*stroke btm*/
.stroke-b {
	border-bottom:3px solid #CCC;
	padding-bottom:5px;
}
.stroke-b.small {
	border-bottom-width:1px;
}
.stroke-b.large {
	border-bottom-width:5px;
}
/*stroke right*/
.stroke-r {
	border-right:3px solid #CCC;
	padding-right:5px;
}
.stroke-r.small {
	border-right-width:1px;
}
.stroke-r.large {
	border-right-width:5px;
}
/*stroke left*/
.stroke-l {
	border-left:3px solid #CCC;
	padding-left:5px;
}
.stroke-l.small {
	border-left-width:1px;
}
.stroke-l.large {
	border-left-width:5px;
}
/* intro */
.intro {
    margin:10px 0px;
}
/* form */

input,select,textarea,.button,a.button,.form-element {
    display:block;
    font-size:12px;
    line-height:18px;
    color:#666;
    border:0px;
}
.form-item .element {
    outline: none;
    padding:3px;
    border:1px solid #CCC;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:3px;
    behavior: url(plugins/pie.htc);
}

.form-item input,
    .form-item select,
    .form-element {
    height:20px;
    width:100%;
}
 
.form-item.small  {
    width:100px;
}
.form-item.medium {
    width:140px;
}
.form-item.normal {
    width:230px;
}
.form-item.large {
    width:300px;
}
.form-item.xlarge {
    width:450px;
}

input.form-checkbox,
    input.form-radio {
    width:auto;
}
textarea,.form-element {
    font-size:12px;
}
.form-item.focus .element,
    .form-item.error .element,
    .form-item.valid .element {
    -moz-border-radius:5px 0 0 5px; /* FF1+ */
    -webkit-border-radius:5px 0 0 5px; /* Saf3-4 */
    border-radius:5px 0 0 5px;
    behavior: url(plugins/pie.htc);
    border-right-color: #AAA;
}
.form-item.no-instructions .element {
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    behavior: url(plugins/pie.htc);
}
.framed {
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    behavior: url(plugins/pie.htc);
    border:1px solid #333;
    padding:5px;
    margin:5px;
}

textarea,.form-element {
    height:auto;
}


.form-item {
	margin-top:3px;
}
label span.required {
    color:blue;
    font-weight: bold;
    margin-left:3px;
    cursor:help;
}
.form-item label,.label {
	display:block;
    float:left;
	color:#666;
	padding-bottom:3px;
    width:140px;
    text-align: right;
    margin-right:5px;
    line-height: 25px;
}

.form-item .instructions {
    float:left;
    display:block;
}

.form-item .instructions {
    border:1px solid #AAA;
    width:250px;
    background-color: #CCC;
    line-height:18px;
    padding:4px;
    padding-left:10px;
    font-size:12px;
    visibility: hidden;
    -moz-border-radius:0 5px 5px 0; /* FF1+ */
    -webkit-border-radius:0 5px 5px 0; /* Saf3-4 */
    border-radius:0 5px 5px 0;
    behavior: url(plugins/pie.htc);
    border-left:0;
    color:#444;
}
.form-item .instructions div {
    color:inherit;
}
.form-item .valid,
    .form-item .error {
    display:none;
}
/* form item error */
.form-item.error .help {
    display:none;
}
.form-item.error .error {
    display:block;
}
.form-item.error .instructions {
    color:#990000;
    border-color:#990000;
    background-color: #ffcccc;
    visibility: visible;
}
/* form item checker */
.form-checker .form-checkbox {
    margin-right:5px;
    margin-top:10px;
    width:15px;
    height:15px;
}
input.no-checker {
    margin-left:20px;
}
/* form item success  */
.form-item.valid .help {
    display:none;
}
.form-item.valid .error {
    display:none;
}
.form-item.valid .valid {
    display:block;
}
.form-item.valid .instructions {
    border-color:#006633;
    color:#006633;
    background-color:#ccffcc;
    visibility: visible;
}

.form-item .description {
    margin-left:150px;
    font-size:10px;
    clear:both;
    color:#999;
}
.form-item.no-label .description {
    margin-left:0;
}
.label.top,
    .form-item.no-label label {
    float:none;
    width:auto;
    text-transform: uppercase;
    font-weight:bold;
    text-align: left;
    margin-top:10px;
    font-size:12px;
    line-height:12px;
}
.form-item.composit .element {
    float:left;
    width:230px;
}

.form-item .description.error {
    color:#990000;
}
.buttongroup {
    padding-left:145px;
    margin-top:5px;
    padding-top:3px;
}
.buttongroup .button {
    margin-right: 5px;
}
.button,a.button {
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    behavior: url(plugins/pie.htc);
    padding:4px;
    width:auto;
    cursor: pointer;
    text-decoration: none;
    display:block;
    float:left;
    margin:0px;
    margin-top:3px;
    /*skin*/
    border:1px solid #333;
    background-color:#00794E;
    color:#fff;
    font-size:14px;
}
.button.full {
    float:none;
}
.button.icononly {
    -moz-border-radius:0; /* FF1+ */
    -webkit-border-radius:0; /* Saf3-4 */
    border-radius:0;
    behavior: url(plugins/pie.htc);
    border:0;
    width:auto;
    padding:0;
    text-indent: -9999px;
    background-color: transparent !important;
}


.button.main {
    background-color:#004E79;
    color:#eee;
    border-color:#020;
    font-size:18px;
    line-height:24px;
    margin-right:10px;
}

.button:hover {
    text-decoration: none;
    background-color:#FFF;
    color:#333;
}
.element {
    position:relative;
}
.element .button {
    float:none;
    right:5px;
    top:0px;
    position:absolute;
}
.element .buttongroup .button {
    position:static;
    float:left;
}
.element .buttongroup {
    float:none;
    margin:0;
    padding:0;
    right:0px;
    top:0px;
    position:absolute;
}


.no-label-top {
    margin-top:28px;
}

img.captcha {
    margin-left:20px;
    display:block;
    margin-bottom: 5px;
}
/* form element modifiers */
.form-flow-list .form-item {
    float:left;
    width:185px;
}
.form-flow-list .button {
    padding-top: 0px;
    padding-bottom: 0px;
}
.form-flow-list .button,
    .form-flow-list input,
    .form-flow-list textarea,
    .form-flow-list select {
    font-size:12px;
}

.form-flow-list input,
    .form-flow-list textarea,
    .form-flow-list select {
    width:160px;
}
.form-flow-list label,
    .form-flow-list .instructions {
    display:none;
}
.form-flow-list input,
    .form-flow-list textarea,
    .form-flow-list select {
    -moz-border-radius:5px !important; /* FF1+ */
    -webkit-border-radius:5px !important; /* Saf3-4 */
    border-radius:5px !important;
    behavior: url(plugins/pie.htc);
    
}
/* panels */
.panel {
	margin:10px 0px;
}
.panel h2 {
    font-size:16px;
    font-weight: bold;
    line-height:20px;
    padding-bottom:3px;
    margin-bottom:5px;
    border-bottom: 1px solid #CCC;
}
.panel.centered {
	margin:10px auto;
}
.panel,
	.panel .inner {
	padding:4px;
}

.panel .inner {
	padding:10px;
}
.panel.singlecol {
    width:960px;
}
/* wizard */
.wizard h2 {
    overflow:hidden;
    padding:0px;
}

.wizard h2 strong {
    float:right;
    font-size:12px;
    color:#666;
}
.wizard h2 ul {
    float:left;
    -moz-border-radius:5px 5px 0 0; /* FF1+ */
    -webkit-border-radius:5px 5px 0 0; /* Saf3-4 */
    border-radius:5px 5px 0 0;
    behavior: url(plugins/pie.htc);
    border:1px solid #CCC;
    border-bottom: 0;
}

.wizard h2 li {
    padding:2px 10px;
    border-left:1px solid #CCC;
    font-size: 12px;
    font-weight: normal;
    color:#666;
}

.wizard h2 li.active {
    background-color:#efefef;
    font-weight:bold;
}
.wizard h2 li.done {
    background-color: #ddd;
}
/* tabpage */
.pw-tabpage {
    margin:5px 0;
    margin-right:5px;
}
.pw-tabpanel {
    display:none;
    border:1px solid #ccc;
    padding:5px;
    margin-top:-1px;
}
.pw-tabpanel.active {
    display:block;
}
.pw-tabs a {
    display:block;
    padding:3px 5px;
    border:1px solid #ccc;
    margin-right:2px;
}
.pw-tabs a.active,.pw-tabs a.active:hover {
    background-color: #ffc;
    color:#333;
    cursor: default;
    text-decoration: none;
}

/* messages */
.message {
    padding:10px;
    border-style:solid;
    border-width:1px 0px;
    font-size:14px;
    font-weight:bold;
    text-align: center;
}
.message.error {
    color:#990000;
    background-color: #ffcccc;
}
.message.success {
    color:#006633;
    background-color:#ccffcc;
}
/*data*/
table.data th {
    text-transform: uppercase;
    color:#999;
    font-weight: bold;
    font-size:12px;
    text-align:right;
}

table.data td {
    padding-left:10px;
}
table.data .section {
    font-size:16px;
    font-weight: bold;
    padding:0;
    padding-top:5px;
    border-bottom:1px solid #333;
}

.data {
    width:100%;
}
.data.list th:first-child {
    -moz-border-radius:5px 0 0 5px ;
    -webkit-border-radius:5px 0 0 5px;
    border-radius:5px 0 0 5px;
    behavior: url(plugins/pie.htc);
}
.data.list th:last-child {
    -moz-border-radius:0 5px 5px 0  ;
    -webkit-border-radius:0 5px 5px 0 ;
    border-radius:0 5px 5px 0 ;
    behavior: url(plugins/pie.htc);
}
.data.list th {
    text-align:left;
    background-color: #ccc;
    color:#333;
    padding:2px 10px;
}

.data.list td {
    padding-left:10px;
    border-bottom:1px solid #ccc;
}
.data.list td em {
    font-size:10px;
}
.data tr.active td {
    background-color: #efefef;
}
/* icons */
.icon16x16 {
    display:block;
    padding-left:16px !important;
    
    background-repeat: no-repeat;
    background-position: left center;
}
.icon16x16.add {
    background-image: url(../images/skin/add.png);
}
.icon16x16.remove,.icon16x16.delete {
    background-image: url(../images/skin/delete.png);
}

