/* tools */
ul.horizontal li,
	ol.horizontal li,
    .horizontal .form-item,
    .horizontal button {
	float:left;
}
ul.horizontal.right li,
	ol.horizontal.right li,
    .horizontal.right .form-item,
    .horizontal.right button {
	float:right;
}

.centered {
	margin:0 auto;
}
.clear {
    clear:both;
    *zoom:0;
}
.reset {
    width:auto !important;
    height:auto !important;
    line-height: normal !important;
    border:inherit !important;
    float:none !important;
    font-size: inherit !important;
}
.left {
    float:left;
}
.right {
    float:right;
}
.nofloat {
    float:none !important;
}
.pimple-messages {
    position:absolute;
    width:100%;
    bottom:0px;
    left:0px;
}
.button {
    display: block;
    margin:0;
    font-size:12px;
}
.padded {padding:10px !important;}
.rpad {padding-right:10px !important;}
.lpad {padding-left:10px !important;}
.tpad {padding-top:10px !important;}
.bpad {padding-bottom:10px !important;}

.rmarg {margin-right:10px !important;}
.lmarg {margin-left:10px !important;}
.tmarg {margin-top:10px !important;}
.bmarg {margin-bottom:10px !important;}

.horizontal.divided li:first-child
    ,ul.divided li {
    border-left:none;
    /* IE5 -> IE7 hax*/
    *border-left: expression(this.previousSibling == null ? "none" : "inherit");
}
.horizontal.divided li {
    border-left:1px solid #CCC;
}

/* fix for file fields */
.form-file {
    height:auto !important;
}